<div class="row">
    <div class="col-sm-12">

<%= semantic_form_for @event, :html => { :class => 'panel form-horizontal' } do |f| %>
    <%= render 'share/form_header', record: @event, type: :event, title: :event %>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <%= f.input :name %>
            </div>
            <div class="col-md-6">
                <%= f.input :region %>
            </div>
            <div class="col-md-6">
                <%= f.input :city %>
            </div>
            <div class="col-md-6">
                <%= f.input :district %>
            </div>
            <div class="col-md-6">
                <%= f.input :address %>
            </div>
            <div class="col-md-6">
                <%= f.input :start_at,
                    as: :datetime_select,
                    input_html: {
                        min: DateTime.now.strftime('%Y-%m-%dT%H:%M:%S'),
                        value: DateTime.now.strftime('%Y-%m-%dT%H:%M:%S')
                    }
                %>
            </div>
            <div class="col-md-6">
                <%= f.input :end_at,
                    as: :datetime_select,
                    #as: :datetime_picker,
                    #local: false,
                    input_html: {
                        min: DateTime.now.strftime('%Y-%m-%dT%H:%M:%S'),
                        value: DateTime.now.strftime('%Y-%m-%dT%H:%M:%S')
                    }
                %>
            </div>
            <div class="col-md-6">
                <%= f.input :max_subscrib,
                    input_html: {
                        min: 1
                    }
                %>
            </div>
            <div class="col-md-6">
                <%= f.input :price %>
            </div>
            <div class="col-md-12">
                <%= f.input :image,
                    :as => :file,
                    :hint => f.template.image_tag(f.object.image.url(:thumb)),
                    input_html: {
                        capture: "camera",
                        accept: "image/*"
                    }
                %>
            </div>
            <div class="col-md-12">
                <%= f.input :description %>
            </div>
        </div>
        <div class="panel-footer text-right">
            <%= f.action :submit, :as => :input, :button_html => { :class => "btn btn-primary" } %>
        </div>
    </div>
<% end %>

    </div>
</div>
