<tr>
    <td class="linkable" data-toggle-subscription="subscription-<%= index %>"><%= subscription.name %></td>
<!--     <td><a href="mailto:<%= subscription.email %>"><%= subscription.email %></a></td> -->
    <td><a href="tel:<%= subscription.phone %>"><%= subscription.phone %></a></td>
</tr>
<tr id="subscription-<%= index %>" class="subscription-detail-row">
    <td colspan="3">
        <p>
            <b class="title"><%= t :name %></b><br>
            <span><%= subscription.name %></span>
        </p>
        <p>
            <b class="title"><%= t :subscribed_date %></b><br>
            <span><%= subscription.created_at.strftime "%m/%d/%Y %H:%M" %></span>
        </p>
        <p>
            <b class="title"><%= t :phone %></b><br>
            <span><a href="tel:<%= subscription.phone %>"><%= subscription.phone %></a></span>
        </p>
        <p>
            <b class="title"><%= t :email %></b><br>
            <span><a href="mailto:<%= subscription.email %>"><%= subscription.email %></a></span>
        </p>
        <p class="no-border">
            <b class="title"><%= t :detail %></b><br>
            <span><%= subscription.detail %></span>
        </p>
    </td>
<tr>