$('#event-subscriptions').empty();
$('#event-subscriptions-container').removeClass('loading');

<%- @subscriptions.each_with_index do |s, i| %>
    $('<%= escape_javascript(render "subscription_row", event: @event, subscription: s, index: i) %>').appendTo('#event-subscriptions').hide().fadeIn();
    $('#subscription-<%= i %>').css({ display: 'none' });
<% end -%>

$('#event-subscriptions-pagination').html('<%= escape_javascript(paginate @subscriptions, :remote => true) %>');
