<div class="page-header">
    <h1>
        <span class="text-light-gray"><%= t "Event" %> / </span>
        <%= t "Edit" %>
    </h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#app-settings" data-toggle="tab"><%=t :app_settings %></a>
  </li>
  <li>
    <a href="#subscriptions" data-toggle="tab" id="stat-btn"><%=t :subscriptions %> (<%= @event.subscriptions.length %>)</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade active in" id="app-settings">
     <%= render 'form' %>
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Mobile view qrcode</span>
        </div>
        <div class="panel-body">
            Link : <%= link_to @qr_link, @qr_link %>  <br>
            <br>
            <img src="<%= @qr_for_link.image.url %>" alt="qrcode" />
        </div>
    </div>
  </div>

  <div class="tab-pane fade event-subscriptions-container" id="subscriptions">

    <i class="fa fa-refresh fa-spin"></i>

    <p style="margin-left: 10px;"><i class="fa fa-info-circle">&nbsp;&nbsp;<%= t :click_name_for_detail %></i></p>

  	<table class="table table-striped">
		<thead>
			<tr>
				<th><%= t :name %></th>
				<th><%= t :phone %></th>
			</tr>
		</thead>
		<tbody id="event-subscriptions">
			<%- @subscriptions.each_with_index do |s, i| %>
			 <%= render 'subscription_row', event: @event, subscription: s, index: i %>
			<% end -%>
		</tbody>
	</table>


  <div id="event-subscriptions-pagination">
    <%= paginate @subscriptions, :remote => true %>
  </div>

  </div>

</div>

<% content_for :javascripts do %>
<script>
<!--
$(document).ready(function() {

  $('#event-subscriptions-pagination').click(function(e) {
      $('#event-subscriptions-container').addClass('loading');
      $('#event-subscriptions-pagination > a').attr('disabled', 'disabled');
  });

  var hash = window.location.hash;

  if (hash && hash.length > 1) {

    var el = $('.nav-tabs a[href=' + hash + ']');

    if (el.length === 1) {
      el.tab('show');
    }
  }

  $('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
    window.scrollTo(0, 0);
});

});
// -->
</script>
<% end %>