<script>
	window.routes = {
		new_app: '<%= n_url %>',
		login: '/ml/{redirection_url}'
	};
	if (window.currentUser) {
		window.currentUser.has_subscribed = <%= @event.has_subscribed(current_user) %>;
	}
	<% if current_user and @event.user.id == current_user.id %>
	if (window.currentUser) {
		window.currentUser.owner = true;
	}
	window.routes.edit = '<%= edit_polymorphic_path(@event.weiapp.app) %>';
	<% end %>
</script>

<script src="/events/<%= @event.id %>.js"></script>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag '/event/event@1.0.0.css' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag '/event/event@1.0.0.js' %>
<% end %>

<% content_for :title do %>Event invitation<% end %>
