window.eventData = <%= raw @event.to_json %>;
window.previewModel = {
    title: <%= raw @event.name.to_json %>,
    description: <%= raw truncate("#{@event.description}".gsub(/[\n\r\t]+/, " "), length: 128).to_json %>
};