/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.form-horizontal.event .form-group {
	margin-left: 0px !important;
	margin-right: 0px !important;
}