/*
 *= require_tree .
 */

#event_start_at_input .row .col-xs-1,
#event_end_at_input .row .col-xs-1 {
	min-width: 70px;
	padding-right: 0px;
}

#event_start_at_input .row .col-xs-2,
#event_end_at_input .row .col-xs-2 {
	min-width: 75px;
	padding-right: 0px;
}

#event_start_at_input .row .col-xs-3,
#event_end_at_input .row .col-xs-3 {
	min-width: 110px;
	padding-right: 0px;
}

#event_start_at_input .row .col-xs-offset-3.col-xs-1,
#event_end_at_input .row .col-xs-offset-3.col-xs-1 {
	margin-left: 0%;
	padding-right: 5px;
}

td.linkable {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.subscription-detail-row {
	/*display: none;*/
	background: #fff;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

/*.subscription-detail-row.show {
	display: table-row;
}*/

.subscription-detail-row p {
	border-bottom: 1px solid #e2e2e2;
	padding: 5px 10px;
}

.subscription-detail-row p.no-border {
	border-bottom: 1px solid transparent;
}

.subscription-detail-row p b.title {
	font-size: 14px !important;
	font-weight: bold !important;
	color: #555 !important;
}

.subscription-detail-row p span {
	color: #aaa;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 5px;
}

.event-subscriptions-container {
	margin-bottom: 0px;
}

.event-subscriptions-container i.fa-refresh {
	display: none;
	position: absolute;
	left: 50%;
	font-size: 30px;
	margin-left: -15px;
	margin-top: 31px;
	z-index: 10;
}

.event-subscriptions-container.loading table {
	opacity: 0.8;
	pointer-events: none;
}

/*#event-subscriptions-pagination {
	margin-bottom: 75px;
}*/